<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>JavaStandardTagLibrary</display-name>
	<listener>
		<listener-class>com.worldmanager.dbhelpers.DBManagerSetup</listener-class>
	</listener>
	<context-param>
		<param-name>dbuserid</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>dbuserpwd</param-name>
		<param-value>presta2134</param-value>
	</context-param>
	<context-param>
		<param-name>dbinitcat</param-name>
		<param-value>world</param-value>
	</context-param>
	<error-page>
		<error-code>404</error-code>
		<location>/errorHandler.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/errorHandler.jsp</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>